.places__paragraph-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (max-width: 768px) {
  .places__paragraph-text {
    font-size: 16px;
  }
}
