.header__lang-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
  transition: opacity 0.2s ease;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
  }
}
