.lead__paragraph {
  align-self: start;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__paragraph {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__paragraph {
    margin-left: 16px;
  }
}