.places__card {
  display: grid;
  grid-template-columns: 1fr 1.052fr;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .places__card {
    gap: 48px 32px;
    grid-template-columns: 1fr 1.036fr;
  }
}

@media screen and (max-width: 768px) {
  .places__card {
    gap: 48px 28px;
    grid-template-columns: 1fr 1.035fr;
  }
}

@media screen and (max-width: 650px) {
  .places__card {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .places__card {
    gap: 32px;
  }
}
