.gallery_place_center {
  margin: 92px auto 0;
}

@media screen and (max-width: 1280px) {
  .gallery_place_center {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .gallery_place_center {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .gallery_place_center {
    margin: 64px 16px 0;
  }
}
